<header class="flex justify-between py-2 px-40 w-full fixed text-lg bg-white">
	<nav class="px-6 py-4">
		<ul class="flex gap-8 items-center">
			<li><a href="/">Julian Henao Marin</a></li>
		</ul>
	</nav>
	<nav class="px-6 py-4">
		<ul class="flex gap-8 items-center">
			<li><a href="/about">About</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/skilss">Skills</a></li>
			<li><a href="/experience">Experience</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>
