---
import { changeLanguage } from 'i18next';
import About from '../../components/About.astro';
import Contact from '../../components/Contact.astro';
import Experience from '../../components/Experience.astro';
import Intro from '../../components/Intro.astro';
import Projects from '../../components/Projects.astro';
import Skills from '../../components/Skills.astro';
import Layout from '../../layouts/Layout.astro';

changeLanguage('es');
---

<Layout title="Julian Henao Marin">
	<main class="snap-none relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth p-5 md:snap-y md:snap-mandatory">
		<div class="snap-center">
			<Intro />
		</div>
		<div class="snap-center my-10 md:my-0">
			<About />
		</div>
		<div class="snap-center my-10 md:my-0">
			<Projects />
		</div>
		<div class="snap-center my-10 md:my-0">
			<Experience />
		</div>
		<div class="snap-center my-10 md:my-0">
			<Skills />
		</div>
		<div class="snap-center my-10 md:my-0">
			<Contact />
		</div>
	</main>
</Layout>
